---
interface Props {
  title: string;
  description: string;
  href: string;
  imgSrc: string;
  imgAlt: string;
  buttonText: string;
  theme: 'hookups' | 'community';
}

const { title, description, href, imgSrc, imgAlt, buttonText, theme } = Astro.props;

const titleColor = theme === 'hookups' ? 'text-hookups-accent' : 'text-community-accent';
const buttonBgColor = theme === 'hookups' ? 'bg-hookups-accent' : 'bg-community-accent';
const buttonHoverBgColor = theme === 'hookups' ? 'hover:bg-red-700' : 'hover:bg-orange-600';
---

<div class="group relative rounded-2xl shadow-xl transition-all duration-300 hover:scale-105 hover:shadow-2xl overflow-hidden">
    <img src={imgSrc} alt={imgAlt} class="absolute inset-0 w-full h-full object-cover" loading="lazy" />
    <div class="absolute inset-0 bg-black bg-opacity-60 transition-opacity duration-300 group-hover:bg-opacity-50"></div>
    <div class="relative z-10 p-8 flex flex-col justify-end h-[28rem] text-white">
        <h3 class:list={["text-3xl font-bold", titleColor]}>{title}</h3>
        <p class="text-gray-200 mt-2">{description}</p>
        <a
            href={href}
            role="button"
            aria-label={`Go to the ${title} section`}
            class:list={[
                "mt-6 inline-block self-start px-8 py-3 font-bold rounded-full shadow-lg transition-transform duration-300 group-hover:scale-105 text-white",
                buttonBgColor,
                buttonHoverBgColor
            ]}
        >
            {buttonText}
        </a>
    </div>
</div>
